.welcomesection
{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f1f1f1;
  color: #3a3a3a;
  text-align: center;
  font-family: 'Helvetica', sans-serif;
}

button
{
    background-color: #ff8c00;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}