/* Filename: src/components/Profile/Profile.css */

.modalFade {
	animation: fadeIn 0.25s ease-out;
}

@keyframes fadeIn
{
	from { opacity: 0; transform: translate(-50%, -45%); }
	to { opacity: 1; transform: translate(-50%, -50%); }
}