/* Filename: index.css */

html, body, #root
{
	height: 100%;
}

body
{
  background: var(--color-bg);
  color: var(--color-text);
  font-family: 'Inter', system-ui, sans-serif;
  overflow-x: hidden;
}
